*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p {
  font-size: 20px;
}

.answer {  
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.quiz-div {
  visibility: visible;
}

.start-button {
  background-color:#6c2020;
  color: white;
  padding: 20px;
  margin: 100px;
}

.buttona, .buttonb, .buttonc, .buttond {
  background-color:#9e87bf;
  color: white;
  width: 180px;
  text-align: left;
  padding: 20px;
  margin: 2px;
  border-radius: 12px;
  cursor: pointer;
}

/* Dark Mode */
.dark {
  background-color:#243447;
  height: 100vh;
  color: #bebebe
 
}

.dark li a {
  color: #bebebe;
}

.dark li a:hover {
  background-color: #111;
}

/* Light Mode */
.light {
  background-color: #f0ead6;
  color: black;
  height: 100vh;
}

.light li a {
  color: black;
}

.light li a:hover {
  background-color: rgb(29, 128, 210);
}

.row {
  margin: 20px;
  display: flex;
  visibility: hidden;

}
.col {
  margin: 20px;
}

.msg {
  font-style: italic;
  display: flex;
}

.final-container{  
  margin: 0px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
}

.completed-msg {  
  margin: 0px;
  display: flex;
  color: rgb(184, 62, 62);
  font-size: 30px;
  padding-left: 240px;
  flex-direction: column;
}

.finalanswer-msg {  
  margin: 0px;
  display: flex;
  color: rgb(56, 150, 121);
  font-size: 25px;
  padding-left: 100px;
  flex-direction: column;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.submit-button {
  background-color:#6c2020;
  color: white;
  padding: 15px;
  margin: 50px;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 80px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position: relative;
  float: left;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
