*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0px;
}

.container {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 35px;
  background-color:#99acc6;
}

.quiz-title {
  margin: 5px;
  padding: 100px;
  font-size: 35px;
  visibility: visible;
  display: block;
}

.time {  
  margin: 5px;
  text-align: center;
  font-size: 20px;
  font-style: oblique;
  display: flex;
  flex-direction: column;
}

.start-button {
  background-color:#974a4a;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
}

.question-row {  
  margin: 30px;
  display: block;
  flex-direction: row;
  font-size: 25px;
}

.answer {  
  margin: 20px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
}

li {
  float: left;
}

.buttona, .buttonb, .buttonc, .buttond {
  background-color:#9e87bf;
  color: white;
  width: 180px;
  text-align: left;
  padding: 20px;
  margin: 2px;
  border-radius: 12px;
  cursor: pointer;
}

.msg {
  font-size: 25px;
  font-style: italic;
  display: block;
  color: #6c2020;
}

.finalanswer-msg {  
  margin: 0px;
  display: block;
  color: rgb(56, 150, 121);
  font-size: 20px;
  padding-left: 25px;
  flex-direction: row;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.card {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 20px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position:absolute;
  float: left;
  visibility: hidden;
  font-size: 25px;
  top: 50px;
  left: 200px;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col {
  margin: 20px;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}


