*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0px;
}

.container {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 35px;
  background-color:#c2cbd8;
}

/* Quiz game title */
.quiz-title {
  margin: 5px;
  padding: 100px;
  font-size: 35px;
  display: block;
}

/* Game Timer */
.time {  
  margin: 5px;
  text-align: center;
  font-size: 20px;
  font-style: oblique;
  display: flex;
  flex-direction: column;
}

/* Start Game button */
.start-button {
  background-color:#974a4a;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  display: none;
}

/* Quiz question */
.question-row {  
  margin: 30px;
  display: block;
  flex-direction: row;
  font-size: 25px;
}

/* Quiz Answer */
.answer {  
  margin: 20px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
}

li {
  float: left;
}

/* Answer button */
.buttona, .buttonb, .buttonc, .buttond {
  background-color:#9e87bf;
  color: white;
  width: 180px;
  text-align: left;
  padding: 20px;
  margin: 2px;
  border-radius: 12px;
  cursor: pointer;
}

/* Correct or Wrong message */
.msg {
  font-size: 25px;
  font-style: italic;
  display: block;
  color: #6c2020;
}

/* Final result message */
.finalanswer-msg {  
  margin: 0px;
  display: block;
  color: rgb(56, 150, 121);
  font-size: 20px;
  padding-left: 25px;
  flex-direction: row;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/* User Initial input box */
.card {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 20px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position:absolute;
  float: left;
  visibility: hidden;
  font-size: 25px;
  top: 140px;
  left: 250px;
}

/* Score Card */
.cardscore {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 20px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position:absolute;
  float: left;
  font-size: 25px;
  top: 140px;
  left: 250px;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

.cardrow{
  display: flex;
}

.cardcolmn {
  flex: 33.33%;
  padding: 10px;
}

.cardtitle {
  font-size: 20px;
  text-align: center;
  padding: 30px;
  background-color: #6c2020;
  color: white;
}

.scoreanswer {  
  margin: 2px;
  display: flex;
  flex-direction: column;
  margin-right: 5em;
  font-size: 25px;
}

.cardcolmnlist {
  display: flex;
  padding: 10px;
}

.gamebutton{
  margin: 20px;
}

/* allow the page content to be adjusted whnnever the page is expanded or shrunk */
@media screen and (max-width: 768px) {
  .time, .scoreanswer, .answer
  {
    flex-direction: column;
  }

  .finalanswer-msg
  {
    flex-direction: row;
  }

  .card, .cardscore {
    top: 170px;
    left: 150px;
 }
}